/* Style the body */


/* Header/Logo Title */
.footer-style {
  padding: 30px;
  text-align: start;
  background: #bc401a;
  color: white;
  font-size: 30px;
  margin-bottom: 30px !important;
  margin-top: 6rem !important;
  margin-right: -1rem !important;

}


